/* Iniciaremos montando la visualización de escritorio*/

*{
    box-sizing: border-box;
    padding: 0px;
    margin:0px;
    font-family: Be vietnam;sans-serif; }

h1{font-size: 3.625em;}
h2{font-size: 2.5em;}
h3{font-size: 2em;}
h4{font-size: 39.21px;}
p{font-size: 1em;}
body{
    min-width:480px;
    max-width: 1440 px;
    margin: auto;
}

button{
    font-size: 0,8237em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 50px;
    border: 0px;
    color: white;
    background-color: #8B48BF;
    box-shadow: 20px black;
}

header{
    background-color: white;
}

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin: 20px;
}

header nav{
    display: flex;
    flex-direction: row;
    text-align: center;
}

header a {
    padding: 5px 12px;
    text-decoration: none;
    color: #242E52;
    font-size: 13px;
    font-weight: bold;
}

header a:hover{
    color: rgba(36, 46, 82, 0.6);
}

/*Estilos Caja1*/

.cajabienvenida {
    width:439px;
    height: 198px;
}
    


.contenido .caja1 {
    display: flex;
    flex-direction: row;
    text-align: center;;
}

contenido .caja1 {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#caja1 p {
    display: flex;
    height: 10rem;
    text-align: center;
    padding: 100px 50px;
    margin: 0px;
    width: 50vw;
}

/*Estilos Caja 2*/


.caja2 {
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 100vw;
}

.caja2 .mensaje{
    width: 50vw;
}

.caja2 .listado{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
}

.prueba{
    padding:50px 200px;
}

.lista p{
    color: #B3B2B7;
    font-size: 1em;
    line-height: 25.52px;
}

/*Estilos caja 3*/


#comentario{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 39.21px;
    font-weight: bold;
    margin: 0%;
    line-height: 120px;
    padding: 40px;
    margin: 10px;;
}

.contenido #caja3 .container{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
}

.card{
    width:445px ;
    height: 219px; ;
    background-color: #FAFAFA;
    padding: 20px;
}
.card p{
    color: #B9B9C1;
}
.card img{
    margin-top: -6rem;
}

#botoncomentarios{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    padding: 20px;
}

/*Estilos caja 4*/

.contenido #caja4 {
    display: flex;
    flex-direction: row;
    margin: 0;
    text-align: center;
    justify-content: space-between;
    background-color: #8B48BF;
    align-items: center;
    padding: 20px 165px;
}

#mensajefinal{
    color: #FAFAFA;
    padding: 64px 0px;
    text-align: left;
}

#boton4{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;

}

#botonmensaje{
    text-align: center;
    padding: 0;
    background-color: white;
    color: #8B48BF;
    width: 134px;
    height: 44px;
    font-weight: bold;
    font-size: 13.18px;
}

/*Estilos para el footer*/
footer {
    display: flex;
    flex-direction: row;
    font-style: none;
    background-color: #1E1E26;
    margin: 0%;
    padding: 20px;    
    justify-content: space-around;
    align-items: center;
}

.logofooter{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.cajafooter {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding:40px;
}

.cajaform{
    display: flex;
    flex-direction: row;
}

footer a{
    text-decoration: none;
    color:#FFFFFF;
    padding: 10px;
}

.cajaform{
    flex-direction: column;
    width: 201px;
    height: 44px;
    border-radius: 50px;
}
.cajaform .form{
    display: flex;
    flex-direction: row;
}

#copy{
    color: #8C8C94;
    font-size: 12.5px;
}
